body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Hero */
.hero {
    background: url("Razer_Pic_1.jpg") center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

/* Sections */
.section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

.highlight {
    background: #0f172a;
    color: white;
    text-align: center;
}